<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig 
  xmlns="http://ibatis.apache.org/dataMapper" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
 
  <settings>
    <setting useStatementNamespaces="false"/>
  </settings>
  
  <providers resource="Mappers/providers.config"/>
  
	<!-- Database connection information -->
	<database>
		<provider name="SQLite3"/>
		<dataSource name="xmf" connectionString="Data Source=|DataDirectory|xmf4ms.db3;"/>
	</database>

	<sqlMaps>
			<sqlMap resource="Mappers/MSObjectMapper.xml" /> 
	</sqlMaps>

</sqlMapConfig>