<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="mapFilePath"
           value = "D:\ms4w\apps\gmap\htdocs\gmap75_wms1.map"
    />
  </appSettings>
    <system.web>
      <httpRuntime requestValidationMode="2.0" />
      <pages validateRequest="false" />
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
   <startup useLegacyV2RuntimeActivationPolicy="true">
      <supportedRuntime version="v4.0" />
   </startup>
</configuration>
